# reusable workflow for publishing all charms in this repo
name: Build and publish rock

on:
  workflow_call:
    inputs:
      rockcraft-dir:
        description: "Path to rock directory, i.e. directory containing rockcraft.yaml"
        required: true
        default: '.'
        type: string
      source_branch:
        description: Github branch from this repo to publish.  If blank, will use the default branch
        default: ''
        required: false
        type: string
  workflow_dispatch:
    inputs:
      rockcraft-dir:
        description: "Path to rock directory, i.e. directory containing rockcraft.yaml"
        required: true
        default: '.'
        type: string
      source_branch:
        description: Github branch from this repo to publish.  If blank, will use the default branch
        default: ''
        required: false
        type: string

jobs:
  build-publish-rock:
    name: Build and publish ROCK
    runs-on: ubuntu-22.04
    steps:
      - name: Build and publish ROCK
        uses: canonical/charmed-kubeflow-workflows/.github/workflows/build_and_publish_rock.yaml@feat-rock-common-ci
        with:
          - rockcraft-dir: ${{ inputs.rockcraft-dir }}
          - source-branch: ${{ inputs.source_branch }}
        secrets: inherit
